.ms-videogallery-template {
	padding-bottom:185px;
	max-width: 850px;
	margin: 0 auto;
}

.ms-videogallery-template.ms-videogallery-vertical-template {
	max-width: 861px;
	padding-right: 290px;
	padding-bottom:0 !important;
	margin: 0 auto;
}

.ms-videogallery-template .ms-layer { 
	font-family: "Lato",sans-serif;
}

.ms-videogallery-template .ms-layer.video-title {
    font-weight: 300;
    background: #1F1F1F;
    color: white;
    padding: 11px;
    text-transform: uppercase;
}

.ms-videogallery-template .ms-layer.video-author {
    background: #FFFFFF;
    padding: 4px 10px;
    font-size: 14px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h {
	bottom:auto;
	height:auto;
	width: 100%;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-v {
	height: 100%;
	width: 280px;
	right: -290px;
	top: 0;
}

.ms-videogallery-template .ms-thumb-frame {
	cursor: pointer;
	float: left;

	font-family: "Lato", sans-serif;
	text-shadow: 0 1px 1px white;
	color: #222;
	font-weight: 300;
	
	position: relative;
	overflow: visible;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
	width: 214px;
	height: auto;
	margin: 10px 10px 0 0;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-frame {
	width: 280px;
	height: 78px;
	margin-bottom: 10px;
}

.ms-thumb-list.ms-dir-v .ms-thumb-frame img {
    width: 140px;
    float: left;
}

.ms-videogallery-template .ms-thumb{text-align: center;}
.ms-videogallery-template .ms-thumb-frame h3 {
	font-weight: 400;
	font-size: 10pt;
	margin:10px 0 0 0;
	text-transform: uppercase;
}

.ms-videogallery-template .ms-thumb-frame p {
	font-size:10pt;
	margin: 4px 0;
}

.ms-videogallery-template .ms-thumb-frame-selected { opacity: 1; }
.ms-videogallery-template .ms-thumb-ol {
    width: 214px;
    background: black;
    opacity: 0.5;
    height: 119px;
    position: absolute;
    top: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-ol {
    width: 140px;
    height: 78px;
}

.ms-videogallery-template .ms-thumb-frame-selected .ms-thumb-ol {opacity: 0;}

.ms-videogallery-template .ms-ie7 .ms-thumb-ol,
.ms-videogallery-template .ms-ie8 .ms-thumb-ol{display:none;}

.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-frame h3 {
    float: left;
    height: 68px;
    width: 100px;
    margin: 0 10px;
    text-align: left;
}

@media (max-width: 600px) {
	.ms-videogallery-template {padding-bottom:135px;}
	.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {width: 100px;}
	.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-ol {
		width: 100px;
	    height: 56px;
	}
	
	.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-frame {
		width: 240px;
		height: 58px;
	}

	.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-frame img {width: 100px;}
	.ms-videogallery-template .ms-thumb-list.ms-dir-v .ms-thumb-ol {
		width: 100px;
	    height: 56px;
	}
	
	.ms-videogallery-template.ms-videogallery-vertical-template {padding-right: 250px;}
	.ms-videogallery-template .ms-thumb-list.ms-dir-v {width: 240px; right: -250px;}

 }
 
 @media (max-width: 400px) {
	.ms-videogallery-template .ms-thumb-list.ms-dir-v {display:none;}
	.ms-videogallery-template.ms-videogallery-vertical-template {padding-right: 0px;}
 }
 


.ms-thumblist-fwd, .ms-thumblist-bwd {
    width: 100%;
	position: absolute;
	top: 0;
	height: 15px;
	cursor: pointer;
	background: url(arrow.png) no-repeat;
	
    background-position: 50% -106px;
}
 .ms-thumblist-bwd {
    top: auto;
    bottom: 0;
    background-position: 50% -145px;
}

